.add-local-container {
  display: flex;
  justify-content: flex-start;
  max-height: 100vh;
  overflow: hidden;
}

.owl-background {
  position: relative;
  top: 0;
  right: 0;
  width: 67%;
  height: 100vh;
  background-size: cover;
  transform: translateX(100%);
  background-position: right;
  clip-path: polygon(0% 0, 50% 0, 50% 100%, 0% 100%);
  mix-blend-mode: color-dodge;
  opacity: 0.2;
  overflow: hidden;
}

.login-overlap {
  width: 50%;
  max-width: 1440px;
}

.login-overlap-group-wrapper {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.owl-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  border-radius: 8px;
}

.text-init {
  color: #c0f4ff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 36.7px;
  font-weight: 500;
  margin-bottom: 20px;
}

label {
  color: #c0f4ff;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea,
input[type="file"] {
  width: 400px;
  padding: 10px;
  margin: 2px 0;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  background-color: #46b1b81a;
  color: #22a3a3;
}

input::selection {
  background-color: transparent;
  color: #ffffff;
}

button[type="submit"] {
  background-color: #54f1f1cc;
  border: none;
  border-radius: 8px;
  height: 49px;
  width: 100%;
  margin: 20px 0;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #46b1b81a;
}

form .input-field {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 0px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #163439;
}

.button-wrapper {
  background-color: #52E8E9;
  border-radius: 8px;
  border: 0px solid #52E8E9;
  height: 36px;
  opacity: 0.8;
  margin: 20px;
  width: 50%;
  color: #ffffff;
  font-size: 18px;
}

.close-button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  align-self: flex-end;
  margin: 15px;
  color: #C0F4FF;
  background-color: transparent;
  border: 0px solid #0D171B;
  padding-right: 20px;
  font-size: 20px;
  transition: 0.3s;
}

.close-button:hover {
  transform: scale(1.3);
}

.success-message {
  color: #52E8E9;
  font-size: 18px;
  margin-top: 20px;
}

.icons8-volver {
  color: #52E8E9;
  text-decoration: none;
  font-size: 18px;
  margin-top: 20px;
}

.icons8-volver:hover {
  text-decoration: underline;
}

.back-button-add-local {
  position: absolute;
  top: 20px;
  left: 25px;
  font-size: 24px;
  color: #52E8E9;
  cursor: pointer;
  transition: transform 0.3s;
  width: 12px;
  z-index: 1;
}

.back-button-add-local:hover {
  transform: scale(1.2);
}

.back-button span {
  font-size: 35px;
  opacity: 0.9;
}

.form-container {
  width: 80%;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  position: absolute;
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

label {
  color: #C0F4FF;
  font-size: 16px;
  margin-bottom: 5px;
}

form .input-field {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #C0F4FF;
}

button[type="submit"] {
  background-color: #52E8E9;
  border: none;
  border-radius: 8px;
  height: 36px;
  width: 50%;
  margin: 20px 0;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #3CC6C7;
}

.add-form {
  width: 900px;
}

.add-form label {
  display: flex;
  justify-content: start;
}

#categories {
  width: 400px;
  padding: 10px;
  margin: 2px 0;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  background-color: #46b1b81a;
  color: #037171;
}

.selected-message {
  font-size: 14px;
  color: green;
  margin-top: 5px;
}

.success-message-promotion {
  color: #52E8E9;
  font-size: 14px;
  padding: 5px;
  text-align: left;
}

.add-new-date-button {
  display: flex;
  flex-direction: column;
}

.add-new-date-button button {
  border-radius: 5px;
  margin-top: 8px;
  width: 50%;
  position: relative;
  left: 50%;
  height: 25px;
  background-color: #037171ea;
  border: none;
  font-size: 14px;
}

.add-new-date-button button:hover {
  background-color: #3cc7c78f;
}

.date-picker-container {
  margin-top: 20px;
}

.date-picker {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-date-button {
  background-color: #52E8E9;
  border: none;
  border-radius: 8px;
  height: 36px;
  width: 150px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-date-button:hover {
  background-color: #3CC6C7;
}

.list-of-dates {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
}

.date-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.remove-date-button {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 8px;
  height: 28px;
  width: 80px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.remove-date-button:hover {
  background-color: #d32f2f;
}

.date-picker-container {
  position: relative;
  display: inline-block;
}

.date-picker {
  display: inline-block;
}

.react-datepicker-popper {
  transform: translateY(-100%);
  margin-top: 10px;
}

.add-date-button {
  display: block;
  width: 100%;
  background-color: #52E8E9;
  border: none;
  border-radius: 8px;
  height: 36px;
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-date-button:hover {
  background-color: #3CC6C7;
}

.categories-container {
  width: 40%;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgba(22, 52, 57, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.categories-container .label {
  margin-top: 15px;
  position: relative;
  right: 100px;
  margin-bottom: 20px;
  font-size: 18px;
}

.categories-container label {
  font-weight: bold;
  margin-right: 10px;
}

.categories-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 8px;
  position: relative;
  right: 70px;
}

.categories-list label {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.categories-list input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: 2px solid #007bff;
  border-radius: 5px;
  margin-right: 7px;
}

.categories-list label span {
  font-weight: normal;
}

.categories-list label span {
  font-weight: normal;
}

.add-local-error-message {
  color: #e76565;
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 130px;
  left: 60%;
  right: 0;
  margin: auto;
  width: 20%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  font-size: 20px;
}