.principal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal-container .booking-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-bookings {
    margin-bottom: 20px;
    color: #c0f4ff;
    position: relative;
    right: 420px;
}

.back-login {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-back-locals {
    background-color: #52e9e9a9;
    border: none;
    border-radius: 8px;
    height: 36px;
    width: 150px;
    margin: 20px 0;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}