.desktop .overlap-group-wrapper {
  height: 555px;
  left: 109px;
  top: 780px;
  width: 362px;
  margin: 10px;
}

.desktop .overlap-group-2 {
  height: 525px;
  position: relative;
  width: 371px;
  border-radius: 15.498px;
  background-color: #304C51;
}

.desktop .rectangle-2 {
  height: 250px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.desktop .rectangle-3 {
  background-color: #fb33a8;
  border-radius: 10.33px;
  height: 44px;
  left: 55px;
  position: absolute;
  top: 460px;
  width: 259px;
}

.desktop .text-wrapper-6 {
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 115px;
  letter-spacing: 3.72px;
  line-height: 24.8px;
  position: absolute;
  top: 470px;
  width: 131px;
}

.rectangle-3:hover{
  background-color: #e9dae3;
}

.desktop .element-entrada-antes-de {
  color: #f1f1f1;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 15.5px;
  font-weight: 400;
  left: 57px;
  letter-spacing: 0;
  line-height: 13.1px;
  position: absolute;
  top: 413px;
  width: 256px;
  left: 50%;
  transform: translateX(-50%);
}

.desktop .text-wrapper-7 {
  font-weight: 600;
  font-size: 12px;
  top: 2px;
  left: 0px;
  position: relative;
}

.desktop .text-wrapper-8 {
  font-family: "Poppins-LightItalic", Helvetica;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  position: relative;
  left: 3px!important;
  top: 2px;
}

.desktop .refresco-cerveza-o {
  color: #46b1b8;
  font-family: "Poppins-LightItalic", Helvetica;
  font-size: 14.5px;
  font-style: italic;
  font-weight: 300;
  left: 51px;
  letter-spacing: 0;
  line-height: 12.2px;
  position: absolute;
  top: 387px;
  width: 312px;
}

.desktop .rectangle-4 {
  background-color: #fb33a8;
  border-radius: 8.81px 0px 0px 8.81px;
  height: 26px;
  left: 206px;
  position: absolute;
  top: 22px;
  width: 155px;
}

.desktop .text-wrapper-9 {
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 14.5px;
  font-weight: 600;
  left: 250px;
  letter-spacing: 2px;
  line-height: 17.4px;
  position: absolute;
  top: 27px;
  width: 105px;
}

/* ARREGLAR EL BANNER UP */

.desktop .text-wrapper-10 {
  color: #ffffff;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 36.6px;
  font-weight: 700;
  left: 31px;
  letter-spacing: 0;
  line-height: 30.9px;
  position: absolute;
  text-shadow: 0px 4.89px 7.34px #00000099;
  top: 204px;
  width: 267px;
}

.desktop .text-wrapper-11 {
  color: #f1f1f1;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 15.5px;
  font-weight: 400;
  left: 51px;
  position: absolute;
  top: 275px;
  width: 295px;
}

.desktop .div-2 {
  color: #f1f1f1;
  font-family: "Poppins-Light", Helvetica;
  font-size: 15.5px;
  font-weight: 400;
  left: 51px;
  letter-spacing: 0;
  line-height: 19.7px;
  top: 334px;
  width: 295px;
}

.desktop .text-wrapper-12 {
  font-weight: 300;
}

.desktop .text-wrapper-13 {
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
}

.desktop .text-wrapper-14 {
  color: #46b1b8;
  font-family: "Poppins-LightItalic", Helvetica;
  font-size: 14.5px;
  font-style: italic;
  font-weight: 300;
  left: 51px;
  line-height: 12.2px;
  position: absolute;
  top: 300px;
  width: 312px;
}

.desktop .text-wrapper-15 {
  color: #6098a2;
  font-family: "Poppins-LightItalic", Helvetica;
  font-size: 14.4px;
  font-style: italic;
  font-weight: 300;
  left: 123px;
  letter-spacing: 0;
  line-height: 11.3px;
  position: absolute;
  text-decoration: underline;
  top: 525px;
  width: 124px;
}

.desktop .group-3 {
  height: 15px;
  left: 30px;
  position: absolute;
  top: 274px;
  width: 13px;
}

.desktop .overlap-wrapper {
  height: 555px;
  left: 540px;
  position: absolute;
  top: 780px;
  width: 387px;
}

.desktop .text-wrapper-16 {
  color: #6098a2;
  font-family: "Poppins-LightItalic", Helvetica;
  font-size: 13.4px;
  font-style: italic;
  font-weight: 300;
  left: 125px;
  letter-spacing: 0;
  line-height: 11.3px;
  position: absolute;
  text-decoration: underline;
  top: 524px;
  width: 124px;
}

.desktop .div-wrapper {
  height: 555px;
  left: 107px;
  position: absolute;
  top: 1416px;
  width: 387px;
}

.desktop .group-4 {
  height: 555px;
  left: 538px;
  position: absolute;
  top: 1416px;
  width: 387px;
}

.desktop .group-5 {
  height: 555px;
  left: 969px;
  position: absolute;
  top: 1416px;
  width: 387px;
}

.desktop .group-6 {
  height: 555px;
  left: 971px;
  position: absolute;
  top: 777px;
  width: 389px;
}