.component {
    height: 558px;
    position: relative;
    width: 1233px;
  }
  
  .component .group {
    height: 555px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 389px;
  }
  
  .component .overlap-group {
    height: 555px;
    position: relative;
    width: 371px;
    border-radius: 2px;
    background-color: #6098a2;
  }
  
  .component .rectangle {
    height: 555px;
    left: 0;
    position: absolute;
    top: 0;
    width: 361px;
  }
  
  .component .div {
    background-color: #fb33a8;
    border-radius: 10.33px;
    height: 44px;
    left: 55px;
    position: absolute;
    top: 460px;
    width: 259px;
  }
  
  .component .text-wrapper {
    color: #ffffff;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 20.7px;
    font-weight: 600;
    left: 123px;
    letter-spacing: 3.72px;
    line-height: 24.8px;
    position: absolute;
    top: 470px;
    width: 131px;
  }
  
  .component .element-entrada-antes-de {
    color: #f1f1f1;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 15.5px;
    font-weight: 400;
    left: 57px;
    letter-spacing: 0;
    line-height: 13.1px;
    position: absolute;
    top: 413px;
    width: 256px;
  }
  
  .component .span {
    font-weight: 500;
  }
  
  .component .text-wrapper-2 {
    font-family: "Poppins-LightItalic", Helvetica;
    font-style: italic;
    font-weight: 300;
  }
  
  .component .icons-dollar-sign {
    height: 17px !important;
    left: 31px !important;
    position: absolute !important;
    top: 411px !important;
    width: 17px !important;
  }
  
  .component .refresco-cerveza-o {
    color: #46b1b8;
    font-family: "Poppins-LightItalic", Helvetica;
    font-size: 14.5px;
    font-style: italic;
    font-weight: 300;
    left: 51px;
    letter-spacing: 0;
    line-height: 12.2px;
    position: absolute;
    top: 376px;
    width: 312px;
  }
  
  .component .icons-edit {
    height: 14px !important;
    left: 31px !important;
    position: absolute !important;
    top: 335px !important;
    width: 14px !important;
  }
  
  .component .rectangle-2 {
    background-color: #fb33a8;
    border-radius: 8.81px 0px 0px 8.81px;
    height: 26px;
    left: 206px;
    position: absolute;
    top: 22px;
    width: 155px;
  }
  
  .component .text-wrapper-3 {
    color: #ffffff;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 14.5px;
    font-weight: 600;
    left: 243px;
    letter-spacing: 2.6px;
    line-height: 17.4px;
    position: absolute;
    top: 27px;
    width: 105px;
  }
  
  .component .text-wrapper-4 {
    color: #ffffff;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 36.6px;
    font-weight: 700;
    left: 31px;
    letter-spacing: 0;
    line-height: 30.9px;
    position: absolute;
    text-shadow: 0px 4.89px 7.34px #00000099;
    top: 204px;
    width: 267px;
  }
  
  .component .p {
    color: #f1f1f1;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 15.5px;
    font-weight: 400;
    left: 59px;
    letter-spacing: 0;
    line-height: 13.1px;
    position: absolute;
    top: 275px;
    width: 295px;
  }
  
  .component .div-2 {
    color: #f1f1f1;
    font-family: "Poppins-Light", Helvetica;
    font-size: 15.5px;
    font-weight: 400;
    left: 59px;
    letter-spacing: 0;
    line-height: 19.7px;
    position: absolute;
    top: 334px;
    width: 295px;
  }
  
  .component .text-wrapper-5 {
    font-weight: 300;
  }
  
  .component .text-wrapper-6 {
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
  }
  
  .component .text-wrapper-7 {
    color: #46b1b8;
    font-family: "Poppins-LightItalic", Helvetica;
    font-size: 14.5px;
    font-style: italic;
    font-weight: 300;
    left: 59px;
    letter-spacing: 0;
    line-height: 12.2px;
    position: absolute;
    top: 300px;
    width: 312px;
  }
  
  .component .text-wrapper-8 {
    color: #6098a2;
    font-family: "Poppins-LightItalic", Helvetica;
    font-size: 13.4px;
    font-style: italic;
    font-weight: 300;
    left: 123px;
    letter-spacing: 0;
    line-height: 11.3px;
    position: absolute;
    text-decoration: underline;
    top: 525px;
    width: 124px;
  }
  
  .component .star-svgrepo-com {
    height: 17px;
    left: 219px;
    position: absolute;
    top: 26px;
    width: 17px;
  }
  
  .component .img {
    height: 15px;
    left: 30px;
    position: absolute;
    top: 274px;
    width: 13px;
  }
  
  .component .overlap-wrapper {
    height: 555px;
    left: 431px;
    position: absolute;
    top: 3px;
    width: 387px;
  }
  
  .component .text-wrapper-9 {
    color: #6098a2;
    font-family: "Poppins-LightItalic", Helvetica;
    font-size: 13.4px;
    font-style: italic;
    font-weight: 300;
    left: 125px;
    letter-spacing: 0;
    line-height: 11.3px;
    position: absolute;
    text-decoration: underline;
    top: 524px;
    width: 124px;
  }
  
  .component .rectangle-3 {
    background-color: #46b1b8;
    border-radius: 10.33px;
    height: 44px;
    left: 55px;
    position: absolute;
    top: 460px;
    width: 259px;
  }
  
  .component .overlap-group-wrapper {
    height: 555px;
    left: 862px;
    position: absolute;
    top: 0;
    width: 389px;
  }
  
  .component .rectangle-4 {
    background-color: #f72a5b;
    border-radius: 8.81px 0px 0px 8.81px;
    height: 26px;
    left: 228px;
    position: absolute;
    top: 22px;
    width: 133px;
  }
  
  .component .text-wrapper-10 {
    color: #ffffff;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 14.5px;
    font-weight: 600;
    left: 249px;
    letter-spacing: 2.6px;
    line-height: 17.4px;
    position: absolute;
    top: 26px;
    width: 105px;
  }
  
  .component .text-wrapper-11 {
    color: #6098a2;
    font-family: "Poppins-LightItalic", Helvetica;
    font-size: 13.4px;
    font-style: italic;
    font-weight: 300;
    left: 125px;
    letter-spacing: 0;
    line-height: 11.3px;
    position: absolute;
    text-decoration: underline;
    top: 526px;
    width: 124px;
  }
  
  .component .rectangle-5 {
    background-color: #f72a5b;
    border-radius: 10.33px;
    height: 44px;
    left: 50px;
    position: absolute;
    top: 463px;
    width: 259px;
  }
  
  .component .text-wrapper-12 {
    color: #ffffff;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 20.7px;
    font-weight: 600;
    left: 118px;
    letter-spacing: 3.72px;
    line-height: 24.8px;
    position: absolute;
    top: 473px;
    width: 131px;
  }
  