.box {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.box .rectangle {
  height: 329px;
  object-fit: cover;
  position: relative;
  width: 368px;
}

.box .vector-stroke {
  height: 22px;
  left: 324px;
  position: absolute;
  top: 23px;
  width: 23px;
}

.box .prepara-tu-fiesta {
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 26.5px;
  font-weight: 600;
  left: 25px;
  letter-spacing: 0;
  line-height: 31.7px;
  position: absolute;
  top: 238px;
  width: 199px;
}
