.local-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* margin-top: 550px; */
}
.pro-manager{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}