* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.desktop {
  background-color: #0b161b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

}

.desktop .div {
  background-color: #0b161b;
  height: 2054px;
  width: 1440px;
}

.desktop .overlap {
  height: auto;
  top: 37px;
  width: 1440px;
}

.desktop .overlap-group {
  height: 577px;
  position: absolute;
  top: 138px;
  width: inherit;
  left: 50%;
  transform: translateX(-50%);
}

.desktop .rectangle-container {
  width: 100%;

}

.desktop .rectangle {
  max-height: 450px;
  left: 0;
  top: 76px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .desktop .div {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .desktop .rectangle {
    width: 100%;
  }
}


.desktop .outline {
  height: 31px !important;
  left: 682px !important;
  position: absolute !important;
  top: 522px !important;
  width: 31px !important;
}

.desktop .group {
  border-radius: 47.5px;
  height: 95px;
  left: 71px;
  position: absolute;
  top: 0;
  width: 95px;
}

.desktop .img {
  height: 68px;
  left: 13px;
  position: absolute;
  top: 14px;
  width: 68px;
}

.desktop .text-wrapper {
  color: #c0f4ff;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 40.5px;
  font-weight: 700;
  left: 174px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
}

.desktop .element-OFF {
  color: #c0f4ff;
  font-family: "Poppins-Black", Helvetica;
  font-size: 139.9px;
  font-weight: 900;
  left: 436px;
  letter-spacing: 0;
  line-height: 110.6px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 2.97px 7px #c0f4ff;
  top: 255px;
  width: 569px;
}

.desktop .span {
  color: #c0f4ff;
  font-family: "Poppins-Black", Helvetica;
  font-size: 139.9px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 110.6px;
}

.desktop .text-wrapper-2 {
  font-size: 105px;
  line-height: 82.9px;
}

.desktop .p {
  color: #c0f4ff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 57.3px;
  font-weight: 500;
  left: 430px;
  letter-spacing: 0;
  line-height: 54.7px;
  position: absolute;
  text-align: center;
  top: 130px;
  width: 580px;
}

.desktop .text-wrapper-3 {
  color: #c0f3ff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 1321px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 32px;
}

.desktop .text-wrapper-4 {
  color: #ffffff;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1193px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 32px;
}

.desktop .text-wrapper-5 {
  color: #fb33a8;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 41.5px;
  font-weight: 500;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 0;
  line-height: 50.6px;
  position: absolute;
  top: 600px;
  width: 198px;
  text-align: center;
}


/* Botones de edit */

.button-container {
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} 

.add-local,
.edit-local {
  background-color: #12847c;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;
} 

.add-local:hover,
.edit-local:hover {
  background-color: #fb33a8;
}
